@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
    margin: 0;
    padding: 0;
    background-color: rgb(66, 64, 64);
}

.container {
    display: flex;
    justify-content: center;
}

.search-cont {
    position: relative;
    top: 10vh;
}

.textbox {
    background-color: rgb(229, 248, 250);
    height: 4vh;
    width: 14vw;
    border-radius: 5px;
    padding: 2px;
    font-size: 2.3vh;
}

.btn {
    background-color: rgb(87, 196, 196);
    height: 5vh;
    width: 8vw;
    border-radius: 5px;
    margin: 0vh 1vw;
    font-size: 2.5vh;
}

.sm-cont {
    position: relative;
    top: 20vh;
    width: 60vw;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
}

.weather-icon {
    grid-column: 1/4;
    background-color: rgb(204, 247, 247);
    text-align: center;
    padding: 20px;
}

i {
    color: black;
    background-color: rgb(204, 247, 247);
    font-size: 5vh;
    padding: 2vw;
}

.weather-icon i {
    font-size: 12vh;
    background: rgb(204, 247, 247);
}

.temp-box, .place-box {
    color: white;
    padding: 4vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.temp-box {
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
}

.date-time-box {
    background-color: rgb(105, 237, 237);
    padding: 5vh;
    font-size: 3vh;
    text-align: center;
    border: 1px solid white;
}

.extra-details {
    background-color: rgb(204, 247, 247);
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: rgb(204, 247, 247);
    display: flex;
    align-items: center;
    padding: 4vh;
}

p {
    background-color: rgb(204, 247, 247);
    font-size: 2.5vh;
}

.side-text {
    background-color: rgb(204, 247, 247);
    text-align: center;
}